* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-size:1em;
    background-color: lightblue;  /*page background*/
    display:flex;
    flex-direction: column;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}

header, nav, footer {
    background-color:white; /*la couleur de nav*/
}

header {
    text-align: center;
    margin: 0 10%;
    text-align: center;
    border-width: 0 3px;
    border-color: black;
    border-style: solid;
    font-size: 1.6vw;
    transition: all 1s;
    padding: 1em;
    display:flex;
    align-items: center;
}

h1{
    color: red;
    width:100%;
    justify-content:space-between;
}

main section * {
    margin: 0.5em;
}

.bLink {
    background-color:rgb(241, 204, 187); 
    border: 2px solid darksalmon;
    padding: 2px;
    text-decoration: none;
    color:black;
    border-radius:5px;
    padding: 0.25em;
}

/*nouveau nav*/
nav{
    color:black; /*nav la couleur police pour Conclusion et Bibliographie*/
    border:3px solid black;
    margin: 0 10%;
    border-radius: 0 0 20px 20px;
    font-size: 1.5vw;
    font-weight: bolder;
    transition: all 1s;
}

.dropdown a{
    color: rgb(0, 0, 0);/*nav la couleur police pour le reste menu*/ 
    text-decoration: none;
}

.dropdown{
    vertical-align:middle;
    text-align: center;
    width: 16.15%;
    position:relative;
    display: inline-block;
}

.dropdown-content{
    width: 400px;
    text-align: left;
    font-weight: normal;
    border:3px solid black;
    border-radius: 0px 0px 20px 20px;
    display: none;
    position: absolute;
    left:25%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    z-index:1;
}

.dropdown-content a{
    color:black; /*sous nav la couleur de police*/
}

.dropdown:hover .dropdown-content{
    background-color:white;/*sous nav background*/
    font-size: 1.2vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

a:hover{
    opacity: 0.75;
    text-decoration:underline;
}
.dropdown-content a::before{
    content:'';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;/*la couleur de carré dans sous nav*/
    margin-right: 5px;
}

#nav_1{
    width: 12vw;
}


/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
main {
    width:100%;
    max-width: 1000px;
    margin:auto;
    margin-bottom:1em;
}

h2 {
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 3vw;
    transition: all 1s;
    font-size: 1.5em;
    font-weight: bold;
}

main > article {
    text-align: center;
    border-radius: 20px;
    border:3px solid black;
    padding: 1em;
    background-color: white;
}

article p{
    text-align: left;
}

main > section {
    margin: 1em;
}

footer {
    display:flex;
    justify-content: space-between;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: black;
    padding: 1vw;
}

h3 {
    margin-top: 20px;
}

@media screen and (max-width: 1000px)
{
    header, nav
    {
        margin:0;
    }
}

section > p > a{
    display: block;
}

@media screen and (max-width: 580px){
    nav >a, nav div> a{
        font-size: 20px;
        font-weight: 1000;
    }

    .sous{
        font-size: 1.5vw;
        display: flex;
        flex-direction: column;
        margin:10px;
    }

    header {
        /**/
        border: 3px solid black;
        border-top-width: 0;
        border-radius: 0 0 20px 20px;
        /**/
        order:1;
    }

    header, nav {
        transition: none;
    }

    h1 {
        font-size: 3em;
    }

    main {
        order:2;
    }

    nav {
        border-radius: 20px 20px 0 0;
        border-bottom: 0;
        margin: 0;
        width: 100%;
        order:3;
        display:block;
        font-weight: bold;
    }

    footer {
        order:4;
        display:block;
        text-align:center;
        border-width:0 3px;
    }

    section div{
        flex-direction: column;
        align-items: center;
    }

}